.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.message-container {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.message-input {
  display: flex;
  justify-content: center;
}

.message-input input[type='text'] {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message-input button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #782562;
  border-radius: 5px;
  cursor: pointer;
}
